<div class="col-md-12">
	<div class="group">
		<span>
			<% if current_user && current_user.is_member_of?(@group) %>
				<label class="label label-success">群組成員</label>
				<%= link_to "退出群組", quit_group_path(@group), method: :post, class: "btn btn-default" %>
			<% else %>
				<label class="label label-warning">不是群組成員</label>
				<%= link_to "加入群組", join_group_path(@group), method: :post, class: "btn btn-default" %>
			<% end %>
		</span>
		
		<% if current_user && current_user.is_member_of?(@group) %>
			<%= link_to "Write a Post", new_group_post_path(@group), class: "btn btn-default pull-right" %>
		<% end %>
		
		<% if current_user && current_user == @group.user %>
			<%= link_to "編輯討論群", edit_group_path(@group), class: "btn btn-primary pull-right", style: "margin:0 10px" %>
		<% end %>
	</div>
	<h2><%= @group.title %></h2>
	<p><%= render_content(@group.description) %></p>


	<table class="table">
		<thead>
			<tr>
				<th>文章內容</th>
				<th>發表者</th>
				<th>發表時間</th>
			</tr>
		</thead>
		<tbody>
			<%= render @posts %>
		</tbody>
	</table>

	
	<%= will_paginate @posts, class: "apple_pagination" %>
	
</div>